@model IEnumerable<mmw.Web.Models.Song>

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout_admin.cshtml";
}

<script src="/Plugins/ajaxfileupload.js"></script>
<script src="/Scripts/clientJS/common.js"></script>
<script>
    $(function () {
        $("#btnUpload").click(function () {
            if ($("#file1").val() != "") {
                uploadFile(0);
            } else {
                alert("请选择文件");
            }
        });
    });
</script>
<div>
    <table class="table table-striped">
        <thead><tr><th>名称</th><th>歌手</th><th>流派</th><th>分享人</th><th colspan="2">操作</th></tr></thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SongTitle</td>
                <td>@item.Singer.SingerName</td>
                <td>@item.School.SchoolDesc</td>
                <td>@item.Fancier.FancierName</td>
                <td colspan="2">
                    @Html.ActionLink("Update", "Update", "Upload", new
               {
                   id = item.SongId

               }, new { @class = "btn btn-xs btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Upload", new
               {
                   id = item.SongId

               }, new { @class = "btn btn-xs btn-danger" })
                </td>
            </tr>
        }
    </table>

    <form method="post" action="Upload/Add">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">歌曲上传</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr><td>歌曲名称:</td><td><input type="text" name="SongTitle" required autofocus /></td></tr>
                    <tr><td>选择文件:</td><td><input type="file" id="file1" name="file1" /></td></tr>
                    <tr>
                        <td><input class="btn btn-success" id="btnUpload" type="button" value="上传" /></td>
                        <td><label id="lblFilepath"></label></td>
                    </tr>
                    <tr>
                        <td>流派:</td>
                        <td>
                            <select name="SchoolId">
                                @foreach (var item in (IEnumerable<mmw.Web.Models.School>)ViewBag.schools)
                                {
                                    <option value="@item.SchoolId">@item.SchoolDesc</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>歌手:</td>
                        <td>
                            <select name="SingerId">
                                @foreach (var item in (IEnumerable<mmw.Web.Models.Singer>)ViewBag.singers)
                                {
                                    <option value="@item.SingerId">@item.SingerName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>分享人:</td>
                        <td>
                            <select name="FancierId">
                                @foreach (var item in (IEnumerable<mmw.Web.Models.Fancier>)ViewBag.fanciers)
                                {
                                    <option value="@item.FancierId">@item.FancierName</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn btn-primary" onclick="return checkFile();" value="添加" />
                            <input type="button" class="btn btn-sm btn-warning" onclick="location.href = 'Admin_home/index'" value="取消" />
                        </td>
                    </tr>
                </table>
                <input type="hidden" name="Path" />
            </div>
        </div>
    </form>
</div>
