@model IEnumerable<mmw.Web.Models.Grade>

@{
    Layout = "/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "Index";
}


<table class="table table-striped">
    <thead> <tr><th>ID</th><th>荣誉</th><th>LOGO</th><th>描述</th><th>操作</th></tr></thead>k
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GradeId
            </td>
            <td>@item.HonorName</td>
            <td>@item.LogoPath</td>
            <td>@item.Desc</td>
            <td>@Html.ActionLink("Delete", "Delete", "Grade", new { id = item.GradeId }, new { @class = "btn btn-xs btn-danger" })</td>

        </tr>
    }
</table>
<form method="post" action="Grade/Create">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加等级</h3>
        </div>
        <div class="panel-body">
            <table>
                <tr><td></td></tr>
                <tr>
                    <td>
                        荣誉名称:
                    </td>
                    <td>
                        <input type="text" name="HonorName" required autofocus />
                    </td>
                </tr>
                <tr>
                    <td>
                        LOGO:
                    </td>
                    <td>
                        <input type="text" name="LogoPath" required autofocus />
                    </td>
                </tr>
                <tr>
                    <td>
                        描述:
                    </td>
                    <td>
                        <input type="text" name="Desc"  required autofocus/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn btn-primary" value="提交" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-sm btn-warning" onclick="location.href='Admin_home/index'" value="取消" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
